nav{
  background-color: #c0392b;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.estudo{
  color: #c0392b;
  text-align: center;
  font-size: 50px;
}
#linha{
  text-align: center;
  margin-left: 34%;
}
header{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.botao_homepage{;
  position: absolute;
  width: 5%;
  top:85%;
  left:45%;
  margin: 0px auto !important;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
header h1{
  color:#c0392b;
  text-align: center;
  margin-left: 25%;
  margin-top: 50% !important;
  margin: 0px auto !important;
}
.arrumar{
  padding-top: 13%;
  margin: 0px auto !important;
}
.Sobre_mim{
    height: auto;
    min-height: 100vh;
    padding: 3%;
    background-color: #ecf0f1;
    margin:0px;
}
footer{
  height: auto;
  min-height: 400px;
  background-color: white;
  margin:0px;
  text-align: center;
}
#footer01{
  height: auto;
  min-height: 370px;
  padding: 3%;
}

.Habilidades{
  height: auto;
  min-height: 100vh;
  padding: 3%;
  background-color: #db6a5e;

}
.Sobre_mim div{
  overflow: hidden;
  text-align: center !important;

}
.Sobre_mim img{
  margin: 0px auto;
  margin-top: 25%;
  width: 55%;
  border-radius: 200px;
  -o-border-radius: 200px;
  -ms-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
}
.Sobre_mim .sobre{
  text-align: left;
  margin-top: 25%;
  color: #c0392b;
}
.Sobre_mim .obj{
  text-align: left;
  margin-top: 3%;
  color: #c0392b;
}
.Sobre_mim p{
  font-size: 18px;
  margin: 0px;
  text-align: left;
  color: black;
  font-weight: 300;
}
.Sobre_mim p::first-letter{
  margin-left: 7%;
  text-transform: uppercase;
}
.Habilidades .form{
  margin-top: 10%;
  color: white;
}
.Habilidades .hab{
  margin-top: 10%;
  color: white;
  text-align: center;
}
.hab p{
  margin-top: 5%;
}
.collapsible-header{
  background-color: white;
}
.collapsible-body{
  background-color: white;
}
.form{
  text-align: center;
}
.rede_social{
  width: 14%;
}
#footer01 ul li{
  display: inline;
}
.botao{
  background-color:#c0392b;
}
.botao:hover{
  background-color: #962d22;
}
